/* reset */
* {
 margin: 0;
 padding: 0px;
 box-sizing: border-box;
 /* controlla per font specifico!!!!!!!!!!!!!!!!!!!!!!! */
 font-family:Helvetica, sans-serif;
}

/* container centrato*/
.container{
  display: flex;
}

.containerfooter{
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

/* centratura con margin auto */
.barra, .jumbo, section {
  margin: auto;
}

/* header */
header{
  background-color: #255ee9;
  padding: 25px 0 0 0;
}

header, footer, .jumbo, .second-color{
  color: white;
}

.barra{
  width: 80%;
  align-items: center;
  margin-bottom: 25px;
}

.link{
  flex-grow: 3;
}

ul{
 justify-content: center;
 list-style-type: none;
}

header li{
 padding:0 20px;
}

button{
  padding: 10px 20px;
  border: 1px;
  border-radius: 20px;
  margin-right: 10px;
  font-size: large;
}

.black{
  background-color: #23272a;
  color: white;
}
/* jumbo */
.backjumbo{
  background-image: url(../img/jumbo.png);
  background-position: center;
  background-size: cover;
  padding: 50px 0;
}

.jumbo{
  text-align: center;
  width: 50%;
}

h1, h2{
  font-size: xx-large;
}

h1, h2, p{
  margin-bottom: 25px;
}

h3{
  padding-top: 30px;
  margin-bottom: 40px;
  font-size: x-large;
  background-image: url(../img/stars.svg);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

p, footer li {
  line-height: 25px;
}

/* main: colori e altezze background delle sezioni */

main section{
  padding: 50px 10%;
}
.back3rd, .back5th{
  background-color: #f6f6f6;
}

/* rettangolo con immagine */
.ret-w{
  width: 70%;
  align-self: stretch;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10%;
}

.img1{
  background-image: url(../img/item1.svg);
}

.img2
{
  background-image: url(../img/item2.svg);
}

.img3
{
  background-image: url(../img/item3.svg);
}

.img4{
  background-image: url(../img/item4-big.svg);
  height: 550px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}

/* rettangolo piccolo */
.ret-s{
  width: 50%;
  align-self: stretch;
  padding-top: 4%;
}

/* rettangolo invertito */
.ordineinvertito{ 
  order: 1;
  margin: 0 5% 0 0;
  width: 80%;
}

/* ultuma sezione main */
.back5th{
  text-align: center;
}

.second-color{
  background-color: #7288da;
}
 
.back5th button{
  margin-bottom: 50px;
}

/******   footer colori, altezze e proprietà dei container e contenuti ********/
footer{
  padding: 50px 10%;
  background-color: #23272a;
}

h4, h5{
  color: #7288da;
}

h4{
  font-size: xx-large;
  margin-bottom: 20px;
}

.container2{
  display: flex;
  justify-content: space-between;
}

.bandieraitaliana{
  height: 5%;
}

footer li{
  text-align: left;
  line-height: 40px;
}
.sezf1-1{
  flex-grow: 1;
}

.sezf {
  padding-bottom: 30px;
  border-bottom: 1px solid #7288da;
}
.sezf1-2{
  flex-grow: 1;
  width: 100%;
  align-self: stretch;
}

i{
  padding: 10px 8px;
}

.backf2{
  padding-top: 15px;
}

.fa-arrow-down{
  padding: 0;
}